.home{
    margin-top: 6rem;
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        font-size: 32px;
        .content{
            margin-top: 3rem;
            
        }
    }
}